<h1>Talent Onboarding:</h1>

<h3>Step {{stepNumber}} of 6. </h3>

<form>

  <span *ngIf="stepNumber == 1">
  <label for="firstName">First Name: </label> &nbsp;
    <input name="firstName" type="text" > 
  
  <br>
  <label for="lastName">Last Name: </label> &nbsp;
    <input name="lastName" type="text" >
    
  <br>
  <button type="button" (click)="goToStep(2)">Next</button>

  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

  </span>

  <span *ngIf="stepNumber == 2">
      <label for="ssnNumber">SSN Number: </label> &nbsp;
        <input name="ssnNumber" type="text" > 
      
      <br>
      <label for="bankAcountNumber">Bank Account: </label> &nbsp;
        <input name="bankAcountNumber" type="text" > 

  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
    
  </span>

  <!--button type="submit" class="btn btn-success">Search</button -->
</form>