<h1 class="header">Create an account with Firebase or Social Providers</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="tryRegister()" class="btn btn-default">Register</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>